<!-- I used code snippet form Boutique Ado  -->
{% if item.product %}
<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group rounded-3 border bg-white input-group-{{ item.item_id }}">
            <div class="input-group-prepend">
                <!-- Decrement button -->
                <button class="decrement-qty btn btn-sm btn-light decrement-qty_{{ item.item_id }} 
                    {% if item.size %}decrement-size_{{ item.item_id }}_{{ item.size }}{% endif %}"
                    data-item_id="{{ item.item_id }}" data-size="{{ item.size }}">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <!-- Input -->
            <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }} 
                {% if item.size %}size_{{ item.item_id }}_{{ item.size }}{% endif %}" type="number" name="quantity"
                value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                data-size="{{ item.size }}" />
            <div class="input-group-append">
                <!-- Increment button -->
                <button class="increment-qty btn btn-sm btn-light increment-qty_{{ item.item_id }} 
                    {% if item.size %}increment-size_{{ item.item_id }}_{{ item.size }}{% endif %}"
                    data-item_id="{{ item.item_id }}" data-size="{{ item.size }}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
            {% if item.product.has_sizes %}
            <input type="hidden" name="product_size" value="{{ item.size }}" />
            {% endif %}
        </div>
    </div>
</form>
<a class="update-link text-info"><small>Update</small></a>
<a class="remove-product text-danger float-end" data-item-id="{{ item.item_id }}"
    data-product_size="{{ item.size }}"><small>Remove</small></a>

{% elif item.plan %}
<a class="remove-plan text-danger float-end" data-plan_id="{{ item.plan_id }}"
    data-product_size="{{ item.size }}"><small>Remove</small></a>
{% endif %}