{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

<!-- Hero Section -->
<section class="hero-section position-relative">
    <div class="container h-100 d-flex flex-column justify-content-center align-items-center text-center text-white">
        <h1 class="display-3 fw-bold my-5">Transform Your Life with Fitness & Nutrition!</h1>
        <p class="display-6 text-lg-centre mb-5">Discover personalized plans, expert advice, and a supportive
            community—all in one place. Get started on your wellness journey today
        </p>
        <div class="d-flex gap-3">
            <a href="{% url 'home' %}" class="btn btn-danger btn-lg">Start Your Journey</a>
            <a href="{% url 'home' %}" class="btn btn-success btn-lg">View Plans</a>
        </div>
    </div>
</section>

<hr class="mt-5">

<!-- How it works section -->
<section class="pt-md-4 width-rule mt-5">
    <div class="container-fluid position-relative">
        <div class="row align-items-center">
            <div class="col-12 text-start">
                <h2 class="display-6 mb-4 text-start">How It Works?</h2>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 offset-lg-9 offset-md-8 text-end" id="element-1">
                <p class="fs-3">Sign Up and Create Your Profile</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 text-start" id="element-2">
                <p class="fs-3">Choose Your Plan</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 offset-lg-9 offset-md-8 text-end" id="element-3">
                <p class="fs-3">Start Your Journey</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 text-start" id="element-4">
                <p class="fs-3">Share Your Success and Connect</p>
            </div>
        </div>
    </div>
</section>

<hr class="mt-5">

<!-- Who we are section -->
<section class="pt-md-4 width-rule mt-5">
    <div class="container-fluid position-relative">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-6 center">
                <h2 class="display-6 mb-4">Who We Are?</h2>
            </div>
            <div class="col-lg-6 center">
                <p class="fs-5">
                    At FitHub, we believe that fitness and wellness should be accessible and achievable for everyone.
                    Whether you're looking to get in shape, improve your nutrition, or join a supportive community of
                    like-minded individuals, we’re here to help you every step of the way. Our personalized plans,
                    expert insights, and diverse range of products are designed to fit your unique needs and goals.
                </p>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-lg-6 offset-lg-6 center">
                <p class="fs-5">From workout plans to nutrition guidance, we offer everything you need to succeed. Plus,
                    our community of subscribers shares their experiences, tips, and successes to motivate and inspire
                    each other. Join us today, and let’s reach your health and fitness goals together!
                </p>
            </div>
        </div>
    </div>
</section>
<hr class="mt-5">

<!-- Featured Plans -->
<section class="pt-md-4 width-rule mt-5">
    <div class="container-fluid position-relative">
        <div class="row align-items-center">
            <div class="col-lg-6 center">
                <h2 class="display-6 mb-4">Featured Plans</h2>
            </div>
            <div class="col-lg-12 center">
                <p class="fs-5">
                    Explore our hand-picked plans designed to help you reach your fitness and wellness goals. Whether
                    you're looking for an exercise plan or a balanced nutrition plan, our experts have created something
                    for everyone. Start your transformation with one of our popular plans!
                </p>
            </div>
        </div>

        <div class="row align-items-center mt-5">

        </div>
    </div>
</section>
<hr>
<!-- Featured Plans -->
<section class="pt-md-4 width-rule mt-5">
    <div class="container-fluid position-relative">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-6">
                <h2 class="display-6 mb-4">Join Our Community</h2>
            </div>
            <div class="col-lg-12 center">
                <p class="fs-5">
                    Our community is built on motivation, success, and support. Whether you’re just starting or pushing
                    past new milestones, here you’ll find inspiration, track your progress, and share your journey with
                    like-minded individuals.
                </p>
            </div>
        </div>

        <div class="row align-items-center mt-5">

        </div>
    </div>
</section>


{% endblock %}