{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="mt-5">
            <h2 class="logo-font mb-4">My Profile</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-light fs-5">User Information</p>
            <form class="mt-1" action="{% url 'profile' %}" method="POST" id="profile-update-form"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.avatar }}
                </div>
                {% crispy form %}
                <button class="btn btn-outline-light rounded-3 text-uppercase float-end">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-light fs-5">Order History</p>
            <div class="order-history table-responsive">
                <table class="table custom-table table-sm table-borderlesst">
                    <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>OrderTotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.product.has_sizes %}
                                                        Size {{ item.product_size|upper }}
                                                    {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/countryfield.js' %}"></script>

     <!-- Script to show img preview -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const fileInput = document.getElementById('new-image');
            const previewImage = document.getElementById('avatar-preview');
            const previewLink = document.getElementById('avatar-link');

            // Preview of a photo are displayed if it is chosen by the user
            if (fileInput) {
                fileInput.addEventListener('change', function (event) {
                    const file = event.target.files[0];
                    if (file && file.type.startsWith('image/')) {
                        const reader = new FileReader();
                        reader.onload = function (e) {
                            if (previewImage) {
                                previewImage.src = e.target.result;
                            }
                            if (previewLink) {
                                previewLink.href = e.target.result;
                            }
                        };
                        reader.readAsDataURL(file);
                    }
                    toggleAvatar();
                });
            }
        });
    </script>

    <!-- Script to handle removing avatar on the client side -->
    <script>
        const defaultAvatar = "/media/default_avatar.jpg";

        function toggleAvatar() {
            let avatarLabel = document.getElementById('avatar-label');
            const avatarImage = document.getElementById('avatar-preview');
            const removeCheckbox = document.getElementById('remove-avatar');
            const checkboxContainer = document.getElementById('remove-avatar-checkbox');
            const fileInput = document.getElementById('new-image');

            if (fileInput.files && fileInput.files[0]) {
                // Show Chekbox
                checkboxContainer.style.display = "block";
                avatarLabel.innerText = 'Selected Profile Image';

                if (removeCheckbox.checked) {
                    avatarImage.src = defaultAvatar;
                    fileInput.value = "";
                    removeCheckbox.checked = false;
                    checkboxContainer.style.display = "none";
                    avatarLabel.innerText = 'No Avatar Set';
                }
            } else {
                // Hide Chekbox, return the default img
                checkboxContainer.style.display = "none";
                avatarImage.src = defaultAvatar;
                avatarLabel.innerText = 'No Avatar Set';
                
            }
        }

    </script>
        
    {% endblock %}


    