{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<hr>
<h2 class="logo-font mb-4">{% trans "Sign In" %}</h2>
<hr>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
    {% url 'account_signup' as signup_url %}
    {% provider_login_url 'google' as google_url %}
    
    <p>
        {% trans "Please sign in using your" %} 
        <a href="{{ google_url }}">{% trans "Google account" %}</a>, 
        {% trans "or" %} 
        <a href="{{ signup_url }}">{% trans "create" %}</a> 
        {% trans "a Fit Hub account and sign in below:" %}
    </p>

    {% include "socialaccount/snippets/login_extra.html" %}
{% else %}
    <p>
        {% blocktrans %}
            If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.
        {% endblocktrans %}
    </p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'home' %}">Home</a>
    <button class="primaryAction btn btn-light" type="submit">{% trans "Sign In" %}</button>
</form>
{% endblock %}
