{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- Explore Our Products -->
<div class="container-fluid px-md-0">
    <section class="pt-md-4 width-rule mt-5">
        <div class="container-fluid position-relative">
            <div class="row align-items-center">
                <div class="col-lg-6 center">
                    <h2 class="display-6 mb-4 mt-5">Explore Our Plans</h2>
                </div>
                <div class="col-lg-12 center">
                    <p class="fs-5">
                        Unlock your potential with expertly crafted nutrition and workout plans tailored to help you reach your fitness goals.
                    </p>
                </div>
            </div>   
        </div>
    </section>
    <hr class="mb-1">

    <!-- Filter Section -->
    <div class="row">
        <div class="col-12 width-rule">
            <div class="row mt-1 mb-2">
                <div class="col-12 d-flex flex-wrap justify-content-md-start gap-3 mt-2">
                    <div class="d-flex align-items-center gap-3">
                        <div class="text-center mt-1 px-0">
                            <form method="get" action="{% url 'plans' %}">
                                <button type="submit" class="btn btn-secondary text-nowrap w-100 w-md-auto">Clear Filters</button>
                            </form>
                        </div>

                        <!-- Filtering by level -->
                        <div class="text-center mt-1 px-0">
                            <form method="get" action="{% url 'plans' %}">
                                <select name="level" class="form-select d-inline-block w-100 w-md-auto" onchange="this.form.submit()">
                                    <option value="" {% if not selected_levels %}selected{% endif %}>All Levels</option>
                                    {% for value, label in all_levels %}
                                        <option value="{{ value }}" {% if value in selected_levels %}selected{% endif %}>
                                            {{ label }}
                                        </option>
                                    {% endfor %}
                                </select>

                                {% for duration in selected_durations %}
                                    <input type="hidden" name="duration_weeks" value="{{ duration }}">
                                {% endfor %}
                                {% if min_price %}
                                    <input type="hidden" name="min_price" value="{{ min_price }}">
                                {% endif %}
                                {% if max_price %}
                                    <input type="hidden" name="max_price" value="{{ max_price }}">
                                {% endif %}
                            </form>
                        </div>

                        <!-- Filtering by duration -->
                        <div class="text-center mt-1 px-0">
                            <form method="get" action="{% url 'plans' %}">
                                <select name="duration_weeks" class="form-select d-inline-block w-100 w-md-auto" onchange="this.form.submit()">
                                    <option value="" {% if not selected_durations %}selected{% endif %}>All Durations</option>
                                    {% if all_durations %}
                                    {% for duration in all_durations %}
                                        <option value="{{ duration }}" {% if duration in selected_durations %}selected{% endif %}>
                                            {{ duration }} Weeks
                                        </option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                                {% for value in selected_levels %}
                                    <input type="hidden" name="level" value="{{ value }}">
                                {% endfor %}
                                {% if min_price %}
                                    <input type="hidden" name="min_price" value="{{ min_price }}">
                                {% endif %}
                                {% if max_price %}
                                    <input type="hidden" name="max_price" value="{{ max_price }}">
                                {% endif %}
                            </form>
                        </div>
                    </div>

                    <!-- Filtering by price range -->
                    <div class="text-center mt-1 px-0">
                        <form method="get" action="{% url 'plans' %}">
                            <div class="d-flex align-items-center gap-3">
                                <input type="number" name="min_price" class="form-control" placeholder="Min Price" value="{{ request.GET.min_price }}">
                                <input type="number" name="max_price" class="form-control" placeholder="Max Price" value="{{ request.GET.max_price }}">
                                <button type="submit" class="btn btn-primary text-nowrap">Filter by Price</button>
                            </div>
                            {% for value in selected_levels %}
                                    <input type="hidden" name="level" value="{{ value }}">
                            {% endfor %}
                            {% for duration in selected_durations %}
                                    <input type="hidden" name="duration_weeks" value="{{ duration }}">
                            {% endfor %}
                        </form>
                    </div>   
                     <!-- Filtering -->
                    <div class="mt-1">
                        <select id="sort-selector"
                            class="form-select d-inline-block w-100 w-md-auto">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating
                                (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                                Rating (high to low)</option>
                            <option value="level_asc" {% if current_sorting == 'level_asc' %}selected{% endif %}>Level (low to hight)
                            </option>
                            <option value="level_desc" {% if current_sorting == 'level_desc' %}selected{% endif %}>Level (hight to low)</option>
                            <option value="duration_weeks_asc" {% if current_sorting == 'duration_weeks_asc' %}selected{% endif %}>
                                Duration (low to hight)</option>
                            <option value="duration_weeks_desc" {% if current_sorting == 'duration_weeks_desc' %}selected{% endif %}>
                                Duration (hight to low)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Plans section-->
    <div class="row">
        <div class="product-container col-12">

            <!-- Nutrition Plans -->

            <div class="row width-rule">
                <div><h1 class="text-end">Nutrition Plans</h1></div>
                <hr class="mt-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-light mt-3 text-md-left">
                            {{ nutrition_plans|length }}
                            {% if nutrition_plans|length == 1 %}
                            Plan
                            {% else %}
                            Plans
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% for plan in nutrition_plans %}
                <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0 image-wrapper">
                        {% if plan.image %}
                        <a href="{% url 'plan_detail' plan.id %}" class="d-block overflow-hidden" style="max-height: 400px;">
                            <img class="card-img-top img-fluid" src="{{ plan.image.url }}" alt="{{ plan.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'plan_detail' plan.id %}" class="d-block overflow-hidden" style="max-height: 400px;">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ plan.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ plan.name }}</p>
                        </div>
                        <div class="card-footer bg-transparent pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <!-- Price -->
                                    <p class="lead mb-0 text-left font-weight-bold">${{ plan.price }}</p>
                                    <!-- Level -->
                                    {% if plan.level %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted"
                                            href="{% url 'plans' %}?level={{ plan.level }}">
                                            Level: {{ plan.get_level_display }}
                                        </a>
                                    </p>
                                    {% else %}
                                    <p class="small mt-1 mb-0 text-muted">                                        
                                        Level: N/A                                    
                                    </p>
                                    {% endif %}
                                    <!-- Duration -->
                                    {% if plan.duration_weeks %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted"
                                            href="{% url 'plans' %}?duration_weeks={{ plan.duration_weeks }}">
                                            Duration: {{ plan.duration_weeks }} weeks
                                        </a>
                                    </p>
                                    {% else %}
                                    <p class="small mt-1 mb-0 text-muted">                                        
                                        Duration: N/A                                    
                                    </p>
                                    {% endif %}
                                    <!-- Raiting -->
                                    {% if plan.rating %}
                                    <small class="text-light text-muted">Raiting: {{ plan.rating }} /
                                        5</small>
                                    {% else %}
                                        <small class="text-muted">Raiting: N/A</small>
                                    {% endif %}
                                    <form method="POST" action="{% url 'add_plan_to_bag' plan.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        <input type="hidden" name="quantity" value="1">
                                    
                                        <div class="mt-2">
                                            <button type="submit" class="btn btn-primary w-100">
                                                <span class="text-uppercase rounded-3">Buy Now</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% if forloop.counter|divisibleby:2 and not forloop.last %}
                <div class="col-12 d-sm-block d-md-block d-lg-none mb-3">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-3">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                <div class="col-12 d-none d-xl-block mb-3">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <!-- Exercise Plans -->
            <hr class="mt-4">
            <div class="row width-rule">
                <div><h1 class="text-end">Exercise Plans</h1></div>
                <hr class="mt-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-light mt-3 text-md-left">
                            {{ exercises_plans|length }}
                            {% if exercises_plans|length == 1 %}
                            Plan
                            {% else %}
                            Plans
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% for plan in exercises_plans %}
                <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if plan.image %}
                        <a href="{% url 'plan_detail' plan.id %}" class="d-block overflow-hidden" style="max-height: 400px;">
                            <img class="card-img-top img-fluid" src="{{ plan.image.url }}" alt="{{ plan.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'plan_detail' plan.id %}" class="d-block overflow-hidden" style="max-height: 400px;">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ plan.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ plan.name }}</p>
                        </div>
                        <div class="card-footer bg-transparent pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <!-- Price -->
                                    <p class="lead mb-0 text-left font-weight-bold">${{ plan.price }}</p>
                                    <!-- Level -->
                                    {% if plan.level %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted"
                                            href="{% url 'plans' %}?level={{ plan.level }}">
                                            Level: {{ plan.get_level_display }}
                                        </a>
                                    </p>
                                    {% else %}
                                    <p class="small mt-1 mb-0 text-muted">                                        
                                        Level: N/A                                    
                                    </p>
                                    {% endif %}
                                    <!-- Duration -->
                                    {% if plan.duration_weeks %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted"
                                            href="{% url 'plans' %}?duration_weeks={{ plan.duration_weeks }}">
                                            Duration: {{ plan.duration_weeks}} weeks
                                        </a>
                                    </p>
                                    {% else %}
                                    <p class="small mt-1 mb-0 text-muted">                                        
                                        Duration: N/A                                    
                                    </p>
                                    {% endif %}
                                    <!-- Raiting -->
                                    {% if plan.rating %}
                                    <small class="text-light text-muted">Raiting: {{ plan.rating }} /
                                        5</small>
                                    {% else %}
                                        <small class="text-muted">Raiting: N/A</small>
                                    {% endif %}
                                

                                    <form method="POST" action="{% url 'add_plan_to_bag' plan.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        <input type="hidden" name="quantity" value="1">
                                    
                                        <div class="mt-2">
                                            <button type="submit" class="btn btn-primary w-100">
                                                <span class="text-uppercase rounded-3">Buy Now</span>
                                            </button>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% if forloop.counter|divisibleby:2 and not forloop.last %}
                <div class="col-12 d-sm-block d-md-block d-lg-none mb-3">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-3">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                <div class="col-12 d-none d-xl-block mb-3">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="arrow back-to-top d-none d-md-block"></div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!--Code snippet from Boutique Ado-->
<script type="text/javascript">
    $('#sort-selector').change(function() {
        var selector = $(this);
        var currentUrl = new URL(window.location);
        var selectedVal = selector.val();
        if(selectedVal != "reset"){
            var splitVal = selectedVal.lastIndexOf('_');
            var sort = selectedVal.substring(0, splitVal);
            var direction = selectedVal.substring(splitVal + 1);
            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);
            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");
            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}