{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- Explore Our Products -->
<div class="container-fluid px-md-0">
    <section class="pt-md-4 width-rule mt-5">
        <div class="container-fluid position-relative">
            <div class="row align-items-center">
                <div class="col-lg-6 center">
                    <h2 class="display-6 mb-4 mt-5">Explore Our Products</h2>
                </div>
                <div class="col-lg-12 center">
                    <p class="fs-5">
                        Fuel your fitness journey with high-quality nutrition and exercise products designed to support your goals.
                    </p>
                </div>
            </div>   
        </div>
    </section>
    <hr class="mb-1">
    <!-- Filter Section -->
    <div class="row">
        <div class="col-12 width-rule">
            <div class="row mt-1 mb-2">
                <div class="col-12 d-flex flex-wrap justify-content-md-start gap-3 mt-2">
                    <div class="d-flex align-items-center gap-3">
                    <div class="text-center mt-1 px-0">
                        <form method="get" action="{% url 'products' %}">
                            <button type="submit" class="btn btn-secondary text-nowrap w-100 w-md-auto">Clear Filters</button>
                        </form>
                    </div>

                    <!-- Filtering by category -->
                    <div class="text-center mt-1 px-0">
                        <form method="get" action="{% url 'products' %}">
                            <select name="category" class="form-select d-inline-block w-100 w-md-auto" onchange="this.form.submit()">
                                <option value="" {% if not selected_categories %}selected{% endif %}>All Products</option>
                                {% for c in all_categories %}
                                    <option value="{{ c.name }}" {% if c.name in selected_categories %}selected{% endif %}>
                                        {{ c.friendly_name }}
                                    </option>
                                {% endfor %}
                            </select>
                            {% for b in selected_brands %}
                                <input type="hidden" name="brand" value="{{ b }}">
                            {% endfor %}
                            {% if min_price %}
                                <input type="hidden" name="min_price" value="{{ min_price }}">
                            {% endif %}
                            {% if max_price %}
                                <input type="hidden" name="max_price" value="{{ max_price }}">
                            {% endif %}
                        </form>
                    </div>

                    <!-- Filtering by brand -->
                    <div class="text-center mt-1 px-0">
                        <form method="get" action="{% url 'products' %}">
                            <select name="brand" class="form-select d-inline-block w-100 w-md-auto" onchange="this.form.submit()">
                                <option value="" {% if not selected_brands %}selected{% endif %}>All Brands</option>
                                {% for brand in all_brands %}
                                    <option value="{{ brand.name }}" {% if brand.name in selected_brands %}selected{% endif %}>
                                        {{ brand.friendly_name }}
                                    </option>
                                {% endfor %}
                            </select>
                            {% for c in selected_categories %}
                                <input type="hidden" name="category" value="{{ c }}">
                            {% endfor %}
                            {% if min_price %}
                                <input type="hidden" name="min_price" value="{{ min_price }}">
                            {% endif %}
                            {% if max_price %}
                                <input type="hidden" name="max_price" value="{{ max_price }}">
                            {% endif %}
                        </form>
                    </div>
                </div>

                    <!-- Filtering by price range -->
                    <div class="text-center mt-1 px-0">
                        <form method="get" action="{% url 'products' %}">
                            <div class="d-flex align-items-center gap-3">
                                <input type="number" name="min_price" class="form-control" placeholder="Min Price" value="{{ request.GET.min_price }}">
                                <input type="number" name="max_price" class="form-control" placeholder="Max Price" value="{{ request.GET.max_price }}">
                                <button type="submit" class="btn btn-primary text-nowrap">Filter by Price</button>
                            </div>
                            {% for b in selected_brands %}
                                <input type="hidden" name="brand" value="{{ b }}">
                            {% endfor %}
                            {% for c in selected_categories %}
                                <input type="hidden" name="category" value="{{ c }}">
                            {% endfor %}
                        </form>
                    </div>   
                    
                    <!-- Filtering -->
                    <div class="mt-1">
                        <select id="sort-selector"
                            class="form-select d-inline-block w-100 w-md-auto">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating
                                (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                                Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                            </option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                                (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                                Category (Z-A)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-1 width-rule">

    <div class="row">
        <div class="product-container col-12 width-rule">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-light mt-3 text-md-left">
                        {{ products|length }} Products
                    </p>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ product.name }}</p>
                        </div>
                        <div class="card-footer bg-transparent pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                    {% if product.brand %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted"
                                            href="{% url 'products' %}?brand={{ product.brand.name }}">
                                            Brand: {{ product.brand.friendly_name }}
                                        </a>
                                    </p>
                                    {% else %}
                                    <p class="small mt-1 mb-0">
                                    Brand: N/A                                  
                                    </p>
                                    {% endif %}
                                    {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted"
                                            href="{% url 'products' %}?category={{ product.category.name }}">
                                            Category: {{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% else %}
                                    <p class="small mt-1 mb-0 text-muted">                                        
                                        Category: N/A                                    
                                    </p>
                                    {% endif %}
                                    {% if product.rating %}
                                    <small class="text-light">Raiting: {{ product.rating }} /
                                        5</small>
                                    {% else %}
                                        <small class="text-muted">Raiting: N/A</small>
                                    {% endif %}
                                    <p class="small mt-1 mb-0">
                                        {% if product.sizes.all %}
                                            Sizes:
                                            {% for size in product.sizes.all %}
                                                {{ size.size }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            Sizes: N/A
                                        {% endif %}
                                    </p>
                                    {% if request.user.is_superuser %}
                                    <small class="ml-3">
                                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                        <a href="#" class="text-danger delete-btn" data-delete-url="{% url 'delete_product' product.id %}">Delete</a>
                                    </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="arrow back-to-top"></div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!--Code snippet from Boutique Ado-->
<script type="text/javascript">
    $('#sort-selector').change(function() {
        var selector = $(this);
        var currentUrl = new URL(window.location);
        var selectedVal = selector.val();
        if(selectedVal != "reset"){
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];
            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);
            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");
            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}